---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { getCollection } from "astro:content";
import Content from "@/components/Content.astro";
import RevealOnScroll from "@/components/react/RevealOnScroll";
import ArticleList from "@/components/ArticleList.astro";
import AboutMe from "@/components/AboutMe.astro";

const allPosts = (await getCollection("blog")).sort(
    (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
// Display only the latest 3 posts on the index page
const posts = allPosts.slice(0, 3);
// Check if there are more posts to show
const hasMorePosts = allPosts.length > 3;
---

<!doctype html>
<html lang="en">
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    </head>
    <body class="min-h-screen flex flex-col">
        <Header title={SITE_TITLE} />
        <main class="pt-[56px] flex-1" transition:animate="fade">
            <article
                class="mx-auto max-w-3xl my-auto mt-6 flex flex-col md:flex-row"
            >
                <div class="w-full md:w-3/4 lg:w-3/5">
                    <ArticleList posts={posts} />
                    {
                        hasMorePosts && (
                            <div class="mt-8 text-center">
                                <a
                                    href="/blogs/2"
                                    class="inline-flex items-center justify-center rounded-md text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:opacity-50 disabled:pointer-events-none ring-offset-background bg-primary text-primary-foreground hover:bg-primary/90 h-10 py-2 px-4"
                                >
                                    See other posts
                                </a>
                            </div>
                        )
                    }
                </div>

                <AboutMe />
            </article>
        </main>
        <Footer />
    </body>
</html>
