---
import ThemeToggle from "./react/ThemeToggle";
import Logo from "./Logo.astro";
---

<header class="fixed w-full p-1 z-20 backdrop-blur-md">
    <div class="mx-auto max-w-3xl px-4 sm:px-6 lg:px-8">
        <nav class="flex items-center gap-3 text-base">
            <Logo />
            <div class="flex-1"></div>
            <ThemeToggle client:visible />
        </nav>
    </div>
</header>
