---
import LogoIcon from "./CustomLogo.astro";
---

<a href="/" class="inline-block">
    <span class="font-bold text-lg inline-flex items-center leading-5 group">
        <LogoIcon
            className="transition-transform duration-200 ease-in-out group-hover:rotate-[20deg]"
        />
        <span class="font-title font-bold p-2 text-lg">
            Dimas Tri Mustakim
        </span>
    </span>
</a>
