---
const isProd = import.meta.env.PROD;
// const baseAssetUrl = "https://craftzdog.global.ssl.fastly.net/uses";
const baseAssetUrl = "";
---

<section class="relative mb-6 h-80 flex justify-center items-center">
    <div class="absolute w-full h-full overflow-hidden">
        <video
            class="absolute inset-0 min-w-full min-h-full object-cover opacity-30"
            poster="/masthead-poster.jpg"
            autoplay="autoplay"
            muted="muted"
            loop="loop"
            playsinline
        >
            <!-- <source
                src={baseAssetUrl + "/masthead.webm"}
                type="video/webm; codecs=vp9"
            />
            <source
                src={baseAssetUrl + "/masthead.m4v"}
                type="video/mp4; codecs=hvc1"
            /> -->
            <!-- <source
                src={baseAssetUrl + "/masthead_2.mp4"}
                type="video/mp4; codecs=avc1.42E01E"
            /> -->
            <source
                src={baseAssetUrl + "/masthead_1.mp4"}
                type="video/mp4; codecs=avc1.42E01E"
            />
        </video>
    </div>
    <div class="z-10 text-center px-8 drop-shadow-lg shadow-black">
        <div class="uppercase text-sm mb-4 font-title">Welcome to</div>
        <div class="text-4xl font-title font-medium">
            My personal <span class="text-orange-500">typedthoughts!</span>
        </div>
    </div>
</section>
