---
import type { HTMLAttributes } from "astro/types";
import { FaExternalLinkAlt } from "react-icons/fa";

type Props = HTMLAttributes<"a">;
const { href, class: className, ...props } = Astro.props;
---

<a
    class="group relative inline"
    href={href}
    target="_blank"
    rel="noopener noreferrer"
>
    <span
        class={`relative z-10 group-hover:text-secondary-foreground ${className}`}
    >
        <slot />
        <!-- <FaExternalLinkAlt className="inline text-xs pl-0.5 pb-1 mb-1" /> -->
    </span>
    <span
        class="absolute left-0 right-0 bottom-0 h-0.5 transition-all bg-accent z-0 group-hover:h-full"
    ></span>
</a>
